Please provide a deck from <%= link_to "ArkhamDB", "https://arkhamdb.com"%>
<p>
<%= form_tag('/deck', method: "get") do %>
  <%= label_tag(:q, "Deck id or link") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Get pdf") %>
<% end %>
<% if flash[:alert] %>
    <div class="alert"> <%= flash[:alert] %> </div>
<% end %>
</p>